<!DOCTYPE html>
<html>
<head>
	<title>ReadImage</title>
	<script type="text/javascript" src="./jquery.js"></script>
</head>
<body>
	<input type="file" id="selectFiles" onchange="dealSelectFiles()" multiple webkitdirectory>
	<canvas id="myCanvas" width=12800 height=1440></canvas>

	<script type="text/javascript">
		var imgPosX = 0;
		var imgWidth = 1280;
		function dealSelectFiles(){
			/// get select files.
			var selectFiles = document.getElementById("selectFiles").files;

			for(var file of selectFiles){
				console.log(file.webkitRelativePath);

				/// read file content.
				var reader = new FileReader();
				reader.readAsDataURL(file);

				reader.onloadend = function(){
					/// deal data.
					var img = new Image();
					/// after loader, result storage the file content result.
					img.src = this.result;
					img.onload = function(){
						var myCanvas = document.getElementById("myCanvas");
						var cxt = myCanvas.getContext('2d');

						cxt.drawImage(img, imgPosX, 0);
						imgPosX += imgWidth;
					}
				}
			}
		}
	</script>
</body>
</html>