{% extends 'base.html' %}
{% block main %}
    <head>
        <title>html编辑器</title>
        <style type="text/css" media="screen">

            #iframe1{
                width:100%;
                background: #F8F8FF;
                border:1px;
                Height:240px;
            }
            #rundata{
                width:100%;
                border:1px;
            }
        </style>
    </head>
    <body>
          <pre id="code" class="ace_editor" style="min-height:400px">
          <textarea  class="ace_text-input"></textarea>
         </pre>


        <script>
            //初始化对象
            editor = ace.edit("code");
            //设置风格和语言
            editor.setTheme("ace/theme/Eclipse");
            editor.session.setMode("ace/mode/html");
            //字体大小
            editor.setFontSize(18);
            //设置只读（true时只读，用于展示代码）
            editor.setReadOnly(false);
            //自动换行,设置为off关闭
            editor.setOption("wrap", "free");
            editor.getSession().on('change', function(e) {
                });
            //启用提示菜单
            ace.require("ace/ext/language_tools");
            editor.setOptions({
                    enableBasicAutocompletion: true,
                    enableSnippets: true,
                    enableLiveAutocompletion: true
                });
        </script>

            <div ><button id="rundata" onclick="rundata()">RUN</button></div>
            <div ><iframe id="iframe1"></iframe></div>




        <script>
            function rundata(){
                //获取输入框内的数据
                var text = editor.getValue();
                // 先清空iframe
                if(document.getElementById("iframe1").contentWindow.document.body!=null){
                    var iframe = document.getElementById("iframe1").contentWindow.document.body.innerText = "";
                }

                //将输入框内的数据传给iframe
                iframe = document.getElementById('iframe1').contentDocument.write(text);
           }
        </script>

    </body>
{% endblock %}