{% extends 'base.html' %}
{% block main %}
    <head>
        <title>javascript编辑器</title>
        <style type="text/css" media="screen">
            #aaa {
                width:100%;
            }
            #editor {
                width:140%;
                padding-bottom: 35%;
                Height:480px;
            }
            #iframe1{
                width:100%;
                background: #F8F8FF;
                border:1px;
                Height:240px;
            }
            #senddata{
                width:100%;
                border:1px;
            }
        </style>
    </head>
    <body>
        <div id="aaa">
            <div >
                <pre id="editor"></pre>
            </div>
            <div ><button id="senddata" onclick="senddata()">运行</button></div>
            <div ><iframe id="iframe1"></iframe></div>

        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ext-language_tools.js" type="text/javascript" charset="utf-8"></script>
        <script>
            ace.require("ace/ext/language_tools");
            var editor = ace.edit("editor");
            editor.setOptions({
        //      enableBasicAutocompletion: true,
        //      enableSnippets: true,
                enableLiveAutocompletion: true,//只能补全
            });
            editor.setTheme("ace/theme/Eclipse");//monokai模式是自动显示补全提示
            editor.getSession().setMode("ace/mode/javascript");//语言
            editor.setFontSize(16);
        </script>
        <script>
            function senddata(){
                //获取输入框内的数据
                var text = editor.getValue();
                if(document.getElementById("iframe1").contentWindow.document.body!=null){
                    var iframe = document.getElementById("iframe1").contentWindow.document.body.innerText = "";
                }
                {#给iframe传数据#}
                iframe = document.getElementById('iframe1').contentDocument.write(text);
           }
        </script>

    </body>
{% endblock %}
<script src="/build/src/ace.js" type="text/javascript"></script>
<script src="/build/src/ext-language_tool.js" type="text/javascript"></script>
